<!DOCTYPE html>

<html>
	<head>
		<title>Varunpmishra</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<p>Varun Mishra</p>
		<a href="https://github.com/mishra-varun-oss?tab=repositories">My Projects</a>
	</body>
</html>
